* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /* top right bottom left */
    padding: 0 50px;
}


#navbar__logo{
    background-color: #6495ED;
    background-image: linear-gradient(to top, #4259db 0%, #62b9cf 100%);
    background-size: 100%;
    -webkit-background-clip:text;
    background-clip: text;
    -moz-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}


.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}


.navbar__item{
    height: 80px;
}


.navbar__links{
    color: #fff;
    display:flex;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: centerl;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fdea95;
    background: -webkit-linear-gradient(to right, #4567fc, #fde71d, #b63838);
    background: linear-gradient(to right, #4567fc, #fde71d, #b63838);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #b63838;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }


    .navbar__menu .active{
        background: #131313;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }


    #navbar__logo{
        padding-left: 25px;
    }


    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }


    .navbar__item{
        width: 100%;
    }


    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }


    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }


    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* Hero section*/
.hero{
    background:rgb(180, 220, 243);
    padding: 200px 100px;
}

.hero__container{
    background-color: rgb(209, 232, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}


.hero__heading{
    font-size: 70px;
    margin-bottom: 24px;
    color: #fff;
}


.hero__heading span{
    background: #4b6cb7;  
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); 
    background: linear-gradient(to right, #182848, #4b6cb7); 

    background-size: 100%;
    -webkit-background-clip: text;
    background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}    

.hero__description{
    font-size: 150%;
    background: -webkit-linear-gradient(to right, #90ace4, #4071e4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #90ace4, #4071e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlight{
    border-bottom: 4px solid rgb(132, 0, 255);
}


@media screen and (max-width: 768px){
    .hero__heading{
        font-size: 60px;
    }

    .hero__description{
        font-size: 40px;
    } 
}

/* About section */
.main{
    background-color:rgb(180, 220, 243);
    padding: 10rem 0;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content{
    color: #fff;
    width: 100%;
}


.main__content h1{
    font-size: 2rem;
    background-color: #6495ED;
    background-image: linear-gradient(to top, #4259db 0%, #62b9cf 100%);
    background-size: 100%;
    -webkit-background-clip:text;
    background-clip: text;
    -moz-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2{
    font-size: 2rem;
    background-color: #6495ED;
    background-image: linear-gradient(to top, #4259db 0%, #62b9cf 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
}

.main__btn{
    font-size: 1.8rem;
    background: #fdea95;
    background: -webkit-linear-gradient(to right, #4567fc, #fde71d, #b63838);
    background: linear-gradient(to right, #4567fc, #fde71d, #b63838);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline:none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#0e84e6;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}


.main__btn:hover:after{
    width:100%;
}


.main__img--container{
    text-align: center;
}

.main__img--card{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #8ec0f8 0%, #0e84e6 100%);
}

#logo{
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1100px){
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items:center;
        justify-content: center;
        width:100%;
        margin:0 auto;
        height:90%;
    }


    .main__img--container{
        display: flat;
        justify-content: center;

    }

    .main__img--card{
        height: 425px;
        width:425px;
    }

    .main__content{
        text-align:center;
        margin-bottom: 4rem;
    }


    .main__content h1{
        font-size: 2.5rem;
        margin-top:2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}



@media screen and (max-width: 480px){
    .main__img--card{
        width:250px;
        height:250px;
    }


    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 2rem;
    }


    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}



.images{
    background: #bed2f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10rem 0;
    width: 100%;
    margin: 0%;
}

.images h1{
    background-color: #3076f8;
    background-image: linear-gradient(to top, #4259db 0%, #62b9cf 100%);
    background-size: 100%;
    -webkit-background-clip:text;
    background-clip: text;
    -moz-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    justify-content: center;
}


.images__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}


.images__card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image:linear-gradient(to right, #6697d6 0%, #a1bee6 100%);
    transition: 0.3s ease-in;
    text-align: center;
}


.img__styling{
    width: 100%;
    height: 50%;
}


.h2__styling{
    font-size: 120%;
}


.images__card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
    cursor: pointer;
}


@media screen and (max-with: 1300px){
    .images__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media scren and (max-width: 768px){
    .images__wrapper{
        grid-template-columns: 1fr;
    }
}


#contact{
    width: 100%;
    justify-content: center;
    margin: auto;
}


.footer__container{
    background-color:rgb(180, 220, 243);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo{
    color:royalblue;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;
}

.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    margin-bottom: 16px;
    color: #fff;
}

.footer__link--items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover{
    color:#0e84e6;
    transition: 0.3 ease-out;
}

.customBody{
    background-image: url(pic.png);

}