.new-expense {
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}


